html {
  font-family: "Inter", "system-ui";
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui";
  }
}

body {
  min-height: 100vh;
  --mainBackground: var(--color-theme-background--shade-1);
  background: var(--mainBackground);
}

* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 367px 1fr;
  background: var(--color-theme-background--shade-1);
}

.button--full-width {
  width: 100%;
}

.badge--alpha {
  font-size: 10px;
  color: var(--color-theme-text--subtle);
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 21px;
  margin-bottom: 1rem;
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.controls > div {
  width: 100%;
}

.alert-card .ax-alert-card__content {
  color: var(--color-theme-text);
}
